body {
  margin: 60px auto;
  width: 60%;
}

.textbox {
  border-style: dotted;
  border-color: rgb(200,200,200);
  border-width: 1px;
}

.textbox * {
  margin: 5px auto;
  margin-top: 25%;
  margin-bottom: 25%;
  width: 75%;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
