body {
  margin: 60px auto;
  width: 60%;
}

.textbox {
  border-style: dotted;
  border-color: rgb(190,190,190);
  border-width: 1px;
  background-color: rgb(240,240,240);
  margin-bottom: 35px;
}

.textbox * {
  margin: 5px auto;
  width: 75%;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.textbox > :first-child {
  margin-top: 25px;
}

.textbox > :last-child {
  margin-bottom: 25px;
}

#current !important {
  font-family:'Verdana'', 'Arial', 'Sans-Serif';
  font-weight: 950;
}

#non-current !important {
  font-family:'Verdana'', 'Arial', 'Sans-Serif';
  text-decoration: none;
  color: rgb(190,190,190);
  font-style: normal;
}

a {
  text-decoration: none;
  color: rgb(210,155,110);
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

