body {
  margin: 60px auto;
  width: 60%;
}

p, h1 {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.textbox  {
  border-style: dotted;
  border-color: rgb(190,190,190);
  border-width: 1px;
  background-color: rgb(240,240,240);
  margin-bottom: 60px;
  box-shadow: 2px 2px 5px rgba(200,200,200,150);
}

.projectbox {
  border-style: dotted;
  border-color: rgb(190,190,190);
  border-width: 1px;
  background-color: rgb(240,240,240);
  margin-bottom: 55px;
  box-shadow: 2px 2px 5px rgba(200,200,200,160);
}

.version {
  color: rgb(120,120,120);
  font-size: 40%;
}

.textbox *, .projectbox * {
  margin: 5px auto;
  width: 75%;
}

.textbox > :first-child, .projectbox > :first-child {
  margin-top: 25px;
  color: red;
}

.textbox > :last-child, .projectbox > :last-child {
  margin-bottom: 25px;
  color: red;
}

.projectbox p {
  color: rgb(80,80,80);
}

#current {
  font-weight: 900;
}

#title a {
  color: rgb(190,190,190);
  text-decoration: none;
  font-style: italic;
}

.textbox a {
  text-decoration: none;
  color: rgb(210,155,110);
  font-style: italic;
}

.textbox a:hover {
  text-decoration: underline;
}

.projectbox a {
  color: rgb(40,40,40);
  text-decoration: none;
}
