---
layout: default
title: projects
---

<head>
  <title>Projects | kvackkvack</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <div class="boxtitle">
    <h1>Projects On This Site</h1>
  </div>
  {% for post in site.posts %}
	{% if post.category == 'project-this' %}
	  <div class="projectbox">
		<h1><a href={{ post.link }}>{{ post.title}} <span class="version">{{ post.version }}</span></a></h1>
		<p>{{ post.content }}</p>
	  </div>
	{% endif %}
  {% endfor %}
  <div class="boxtitle">
    <h1>Projects From Other Sites</h1>
  </div>
  {% for post in site.posts %}
	{% if post.category == 'project-other' %}
	  <div class="projectbox">
		<h1><a href={{ post.link }}>{{ post.title}} <span class="version">{{ post.version }}</span></a></h1>
		<p>{{ post.content }}</p>
	  </div>
	{% endif %}
  {% endfor %}
</body>
