.back {
  font-size: 14px; 
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: rgb(200,200,200);
}

html, body {
  overflow: hidden;
}
